#topRow img{
    width: 100%;
    box-shadow: inset 2px 2px 10px 5px black, inset -2px -2px 10px 5px black;
    border-radius: 25px;
}

#photoCol{
    border-right: 2px solid black;
}

#contentsTab{
    border-left: 2px solid black;
    border-top: 2px solid black;
}



#itemsrow, #abilitiesrow, #movesrow, #indexrow{
    height: 700px;
}

#movesrow{
    overflow-y: scroll;
}

#movesrow::-webkit-scrollbar{
    visibility: hidden;
}

@media screen and (min-width: 900px) {
    #itemsrow, #abilitiesrow, #movesrow, #indexrow{
        height: 800px;
    }
}

@media screen and (min-width: 1200px) {
    #itemsrow, #abilitiesrow, #movesrow, #indexrow{
        height: 1000px;
    }
}

@media screen and (min-width: 1400px) {
    #itemsrow, #abilitiesrow, #movesrow, #indexrow{
        height: 100vh;
    }
}