body{
    position: relative;
}

.pokemonList{
    border: 2px solid red;
    height: max-content;
}

.pokemonInfo{
    border: 2px solid black;
}

#pokeCard{
    border: 1px solid black;
    box-shadow: 12px 12px 5px grey;
    height: max-content;
    margin-top: 3em;
}

#pokeCard:hover{
    margin-top: 1em;
    margin-left: -2em;
    
    box-shadow: 18px 18px 5px grey;
}

#pokeImg{
    height: 250px;
    opacity: .5;
}

#pokeName{
    font-size: 60px;
    text-align: center;
    transform: translate(0, 50px);
    color: black;
}

#loginForm{
    display: flex;
    justify-self: center;
    margin: 10em auto;
    width: 500px;
    height: max-content;
    padding: 2%;
    border: 2px solid black;
}

#switch {
    width: 0;
    height: 0;
    visibility: hidden;
}

.slider{
    display: flex;
    width: 250px;
    height: 50px;
    background-color: #477a85;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #477a8550;
    margin: 2.5em auto;
}

.slider::after {
    content: "";
    width: 45px;
    height: 45px;
    background-color: #e8f5f7;
    position: absolute;
    border-radius: 70px;;
    top: 2px;
    left: 5px;
    transition: 0.5s;
}

.slider::before{
    content: "Login";
    position: absolute;
    right: 35%;
    top: 10%;
    font-size: x-large;
}

#switch:checked + .slider:after {
    left: calc(100% - 10px);
    transform: translateX(-100%);
}

#switch:checked + .slider{
    background-color: tomato;
}

#switch:checked + .slider:before{
    content: "Register";
    position: absolute;
    left: 35%;
    top: 10%;
}


#btns{
    display: flex;
    margin: 1em auto;
    justify-content: space-around;
}